@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: url("./snow-mtn.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  font-family: "Poppins", sans-serif;
  margin:0;
}
